body {
    background: linear-gradient(to right, #3b3b3b, #2d2d2d);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.image-wrapper {
    display: flex;
    justify-content: center;
}

.image-wrapper img {
    max-width: 10rem;
    border-radius: 50%;
    border: 5px solid white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-wrapper img:hover {
    transform: scale(1.1);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

h3 {
    text-transform: uppercase;
}

.table-container {
    background: #403f3f;
    border-radius: 10px;
    padding: 15px;
    overflow-x: auto;
    cursor: default;
    font-size: 14px;
}

.table-container th {
    background-color: #444;
    color: white;
}

@media (max-width: 768px) {
    .table-container table {
        width: 100%;
    }

    .table-container thead {
        display: none;
    }

    .table-container tbody tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #555;
        border-radius: 5px;
    }

    .table-container tbody td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #555;
    }

    .table-container tbody td[data-label]:before {
        content: attr(data-label);
        font-weight: bold;
        color: #aaa;
        margin-right: 8px;
    }
}

.card {
    background: linear-gradient(to right, #3b3b3b, #2d2d2d); /* رنگ‌های تیره برای فاز ورزشی */
    border-radius: 10px;
    border: 1px solid #ddd;
}

.form-label {
    font-weight: bold;
    color: white;
}

/* استایل برای بخش فرم‌های چندتایی */
.form-group {
    margin-bottom: 20px;
}

.row .col-md-6, .row .col-md-4 {
    margin-bottom: 20px;
}